@model AngularTraining.Controllers.Estudiante

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estu_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estu_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estu_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estu_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estu_cod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estu_cod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estu_curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estu_curso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estu_profid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estu_profid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estu_sede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estu_sede)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estu_region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estu_region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_idPersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_idPersona)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
